body {
  height: 100%;
  background-color:#e3e3e3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
  color: #333 !important;
}

.about-me {
  border: none;
  background-color: #f8f8f8;
}

.icon {
  color: #333333;
  height: 2.5rem;
  padding-right: 3rem;
}

.icon:hover {
  color: #4781fd;
}

.clickable-heading {
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  background-color: #c5c5c5;
  text-align: left;
  border-radius: 0;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

.clickable-heading:hover {
  background-color: #9fbdff;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

.effectBg {
  background-color: #9fbdff;
}

.card-header {
  background-color: #aac5ff;
}

.card-body {
  background-color: #f8f8f8;
  height: 100%;
}

.card-footer {
  background-color: #d4e1fd;
}

.img-border {
  border: 2px solid #9fbdff;
}

.link-btn {
  display: block;
  width: 70%;
  color: #333;
  font-weight: bold;
  background-color: #c5c5c5;
  border: 1px solid #333333;
  border-radius: 5px;
  margin: auto;
  padding: 0.4rem;
  text-decoration: none;
  text-align: center;
}

.link-btn:hover {
  background-color: #9fbdff;
}

@media only screen and (max-width: 995px) {
  body {
    font-size: smaller;
  }
  .icon {
    height: 1.8rem;
  }
  .container {
    max-width: 800px;
  }
}

@media only screen and (max-width: 767px) {
  * {
    text-align: center;
  }
  .container {
    max-width: 70%;
  }
  .icons {
    padding: 0 2em;
    justify-content: space-around !important;
  }
  .icon {
    padding-right: 0;
  }
}